@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap";
@import 'shared/variables';

html, body {
	font-family: $primary-font, sans-serif;
}

.alert {
	margin: 0;
	border-radius: 0;
	text-align: center;
}

.vich-image {
	img {
		@extend .mb-2;
		@extend .rounded;
		@extend .shadow;
		@extend .img-thumbnail;
	}

	.form-check {
		@extend .mt-3;
	}
}

.pin img {
	transition: transform .3s ease-out;
	&:hover {
		transform: scale(1.08);
	}
}
